Source: rvthtool
Section: games
Priority: optional
Maintainer: David Korth <gerbilsoft@gerbilsoft.com>
Build-Depends:
 debhelper (>= 9),
 cmake (>= 2.8.12),
 dpkg-dev (>= 1.17.17),
 libgmp3-dev,
 nettle-dev,
 libudev-dev,
 qt6-base-dev,
 qt6-tools-dev-tools,
 qt6-tools-dev
Standards-Version: 3.9.8
Homepage: https://github.com/GerbilSoft/rvthtool
Vcs-Git: https://github.com/GerbilSoft/rvthtool
Vcs-Browser: https://github.com/GerbilSoft/rvthtool

Package: rvthtool
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: RVT-H Tool
 This is an open-source tool for managing RVT-H Reader consoles.

Package: qrvthtool
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: rvthtool-lang
Description: RVT-H Tool (GUI)
 This is an open-source tool for managing RVT-H Reader consoles. (GUI)

Package: rvthtool-lang
Architecture: all
Description: RVT-H Tool (localization)
 RVT-H Tool localization files. (Qt only for now)

Package: wadresign
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: WAD Resign
 WAD Resign is a command-line tool to re-sign Nintendo Wii WAD files.

Package: nusresign
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NUS Resign
 NUS Resign is a command-line tool to re-sign Nintendo Wii U NUS packages.
