[Desktop Entry]
Name=RVT-H Tool
Comment=Nintendo RVT-H Reader Tool
Type=Application
StartupNotify=true
Exec=qrvthtool %f
Terminal=false
Icon=qrvthtool
Categories=Game;Application;Utility;
